<div class="pagination" *ngIf="count > 0">
	<div class="description">
		<span >{{ getMin() }} - {{ getMax() }} of {{ count }}</span>
		<span>{{ totalPages() }} pages</span>
	</div>
	<div class="numbers">
		<button (click)="onPage(1)" [disabled]="page === 1 || loading" [ngClass]="{'disabled': page === 1 ||loading }">First</button>
		
		<button  (click)="onPrev()" [disabled]="page === 1 || loading" [ngClass]="{ 'disabled': page === 1 || loading }">&lt; Previous</button>
		
		<button class="btn btn-xs"
			*ngFor="let pageNum of getPages()"
			(click)="onPage(pageNum)"
			[ngClass]="{'active': pageNum === page, 'disabled': loading}">
			<span class="badge badge-light">{{ pageNum }}</span>
		</button>

		<button (click)="onNext(true)" [disabled]="lastPage() || loading" [ngClass]="{ 'disabled': lastPage() || loading }">Next &gt;</button>

		<button (click)="onLast()" [disabled]="lastPage() || loading" [ngClass]="{'disabled': lastPage() || loading }">Last</button>
		
	</div>
	
	<span >Rows Per Page:</span>
	<input #limitInput  type="number" min="1" step="1" [max]="count"
                       [ngModel]="limit" (blur)="limit = limitInput.value;"
                       (keyup.enter)="limit = limitInput.value;" (keyup.esc)="limitInput.value = limit;"/>
</div>