<body>
  <div class="outer-container">
    <!-- absolute positioned container -->
    <div class="inner-container">
      <div class="table-header" id="headerdiv">
        <table id="headertable" width="100%" cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th style="width: 100px" class="header-cell"></th>
              <th *ngFor="let c of columnDefs" [style.width]="c.width" class="header-cell">{{c.name | titlecase}}</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="table-body" onscroll="document.getElementById('headerdiv').scrollLeft = this.scrollLeft">
        <table id="bodytable" width="100%" cellpadding="0" cellspacing="0">
          <tbody>
            <tr *ngFor="let d of data">
              <td style="text-align: center; width: 100px">
                <button class='btn btn-sm' (click)='submitRow(d)'>
                  Submit
                </button>
              </td>
              <td *ngFor="let col of columnDefs" class="body-cell" [style.width]="col.width">
                {{d[col.name]}}
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <app-pagination (limitChanged)="limitChanged($event)" (goPage)="goToPage($event)" (goNext)="onNext()" (goPrev)="onPrev()" [pagesToShow]="3" [page]="page" [_limit]="limit"
      [count]="total"></app-pagination>
      
    </div>
    <div *ngIf='errorMessage' class='alert alert-danger'>
      Error: {{ errorMessage }}
  </div>
</body>
