
 table{
   table-layout: fixed;
   border-collapse: collapse;
}

 th,td {
    border: 1px solid black;
}
.outer-container {
    position: absolute;
    top:100px;
    left: 200px;
    right: 200px;
    bottom:240px;
    overflow: visible;

}
.inner-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.table-header {
    float:left;
    width: 100%;
    overflow:hidden;
	overflow-y: scroll;
}
.table-body {
    float:left;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}
.header-cell {
    background-color: lightblue;
    text-align: center
}
.body-cell {
    text-align: left;
}